section.hero.is-dark.is-fullheight#top
	.hero-body
		.container
			i.fas.fa-university.fa-5x.has-margin-bottom-20
			h1.title.
				
				Partido del Sol Azteca
				
			h2.subtitle.
				
				Viva López Obrador

			a.button(href="#down") Imprints
			button.button.is-dark Offprints

section.container.is-fullheight#down
