doctype
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,initial-scale=1')
		title Siddhartha Harps on DARPA
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons')
		link(rel="stylesheet" href="/main.css")
		style.
			
			body {
				font-family: "News Cycle", sans-serif;
				font-weight: 300 !important;
				font-style: normal;
			}
			
			h1, h2, h3, h4, h5, h6 {
				font-family: 'News Cycle', sans-serif;
				font-weight: 300 !important;
				font-style: normal;
			}
			
			.dignity {
				font-family: 'News Cycle', sans-serif;
				font-weight: 300;
				font-style: normal;
			}
			
			i, .material-icons {
				vertical-align: middle;
			}

			a:hover {
				color: #607D8B;	
			}

			.material-icons.md-18 { font-size: 18px; }
			.material-icons.md-24 { font-size: 24px; }
			.material-icons.md-36 { font-size: 36px; }
			.material-icons.md-48 { font-size: 48px; }
			.material-icons.md-54 { font-size: 54px; }
			.material-icons.md-66 { font-size: 66px; }
			.material-icons.md-72 { font-size: 72px; }

			/* Rules for using icons as black on a light background. */
			.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
			.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

			/* Rules for using icons as white on a dark background. */
			.material-icons.md-light { color: rgba(255, 255, 255, 1); }
			.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


	body

		nav.navbar.is-fixed-top(role='navigation' aria-label='main navigation')
			.navbar-brand
				a.navbar-item(href='/' target="_self")
					//- img(src='assets/img/alchemy-sulphuric.svg' width='112'	)
					i.fas.fa-sun.fa-3x
					span(style="font-size: 22px;")
						| &nbsp; Engenho Novo LLP
				a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
					span(aria-hidden='true')
					span(aria-hidden='true')
					span(aria-hidden='true')
			#navbarBasicExample.navbar-menu
				.navbar-start
					a.navbar-item.
						
						Lares et Penates
						
					a.navbar-item.
						
						In Principio
						
					.navbar-item.has-dropdown.is-hoverable
						a.navbar-link.
							
							Lista Suspensa
							
						.navbar-dropdown
							a.navbar-item.
								
								Sobre Nobres
								
							a.navbar-item.
								
								Sobre Pobres
								
							a.navbar-item.
								Dos Desnobres
								
							hr.navbar-divider
							a.navbar-item.
								
								Dúvidas?
								
				.navbar-end
					.navbar-item
						.buttons
							a.button.is-dark
								strong Cadastrar
							a.button.is-light.
								Entrar
								

		!= yield