section.hero.is-dark.is-fullheight#top
	.hero-body
		.container
			i.fas.fa-university.fa-5x.has-margin-bottom-15
			h1.title.
				
				O Crioulo Doido
				
			h2.subtitle.
				
				Um Jeito de Sambar

			a.button(href="#down") Imprints
			button.button.is-dark Offprints

section.container.is-fullheight#down
	.tile.is-ancestor
		.tile.is-vertical.is-8
			.tile
				.tile.is-parent.is-vertical
					article.tile.is-child.notification.is-light
						p.title Pancakes Stacked 
						p.subtitle B Flat Top Hat
						a.button.is-dark(href="#top")
							i.material-icons keyboard_arrow_up
							| &nbsp;Voltar	
					article.tile.is-child.notification.is-dark
						p.title Azulejos
						p.subtitle Azulejo Debaixo
				.tile.is-parent
					article.tile.is-child.notification.is-info
						p.title In Media Res
						p.subtitle Imagism Plagiarism
						figure.image.is-1by1
							img(src='assets/img/biohazard.svg')
			.tile.is-parent
				article.tile.is-child.notification.is-danger
					p.title Paralelo ao Chão
					p.subtitle Um Bicho Rastejando 
					.content
						//  Content 
		.tile.is-parent
			article.tile.is-child.notification.is-danger
				.content
					p.title Arranha-Céu
					p.subtitle Verticalmente Construido
					.content
						//  Content 