section.hero.is-dark.is-fullheight#top
	.hero-body
		.container
			i.fas.fa-university.fa-5x
			h1.title(style="margin-top: 12px").
				
				Harpa Siddhartha
				
			h2.subtitle.
				
				Addio Mondo Crudele

			button.button.is-primary(style="margin-right: 10px") Imprints
			button.button.is-danger Offprints

			.dropdown.is-hoverable.is-up
				.dropdown-trigger
					button.button.is-dark(aria-haspopup='true' aria-controls='dropdown-menu')
						span Lista Suspensa
						span.icon.is-small
							i.fas.fa-angle-down(aria-hidden='true')
				.dropdown-menu#dropdown-menu(role='menu')
					.dropdown-content
						a.dropdown-item(href='#').
							
							Opção Primeira
							
						a.dropdown-item.
							
							Opção Segunda
							
						a.dropdown-item.is-active(href='#').
							
							Opção Ativa
							
						a.dropdown-item(href='#').
							
							Mais Opções
							
						hr.dropdown-divider
						a.dropdown-item(href='#').
							
							Divisor de Águas
							

//- section.container.is-fullheight#down
//- 	.tile.is-ancestor
//- 		.tile.is-vertical.is-8
//- 			.tile
//- 				.tile.is-parent.is-vertical
//- 					article.tile.is-child.notification.is-light
//- 						p.title Pancakes Stacked 
//- 						p.subtitle B Flat Top Hat
//- 						a.button.is-dark(href="#top")
//- 							i.material-icons keyboard_arrow_up
//- 							| &nbsp;Voltar	
//- 					article.tile.is-child.notification.is-dark
//- 						p.title Azulejos
//- 						p.subtitle Azulejo Debaixo
//- 				.tile.is-parent
//- 					article.tile.is-child.notification.is-info
//- 						p.title In Media Res
//- 						p.subtitle Imagism Plagiarism
//- 						figure.image.is-1by1
//- 							img(src='assets/img/biohazard.svg')
//- 			.tile.is-parent
//- 				article.tile.is-child.notification.is-danger
//- 					p.title Paralelo ao Chão
//- 					p.subtitle Um Bicho Rastejando 
//- 					.content
//- 						//  Content 
//- 		.tile.is-parent
//- 			article.tile.is-child.notification.is-danger
//- 				.content
//- 					p.title Arranha-Céu
//- 					p.subtitle Verticalmente Construido
//- 					.content
//- 						//  Content 