section.hero.is-dark.is-fullheight-with-navbar
	.hero-body
		.container
			i.fas.fa-university.fa-5x
			h1.title.
				
				Harpa Siddhartha
				
			h2.subtitle.
				
				Addio Mondo Crudele

			button.button Imprints
			button.button.is-dark Offprints